[Unit]
Description=Encrypted/authenticated DNS wrapper
#ConditionFileIsExecutable=/usr/local/sbin/dnscrypt-wrapper
After=unbound.service

[Service]
#StartLimitInterval=5
#StartLimitBurst=10
Type=simple

ExecStart=/usr/local/bin/doh-httpproxy --upstream-resolver ::1 --port 8553 --listen-address 2001:470:26:204::191

#WorkingDirectory=/etc/dnscrypt-wrapper

#Restart=always
#RestartSec=120
#EnvironmentFile=-/etc/sysconfig/dnscrypt-wrapper

[Install]
#WantedBy=multi-user.target
WantedBy=default.target
