[Unit]
Description=DOH HTTP Proxy on %I
After=syslog.target network.target
Before=nginx.target

[Service]
Type=simple
AmbientCapabilities=CAP_NET_BIND_SERVICE


#ExecStart=/etc/dnscrypt-wrapper/doh-proxy --listen-address 127.0.0.2:8540 --server-address 192.168.0.191:53 --timeout 10
#ExecStart=/usr/local/bin/doh-httpproxy --upstream-resolver ::1 --listen-address=::1 --port 8542
#ExecStart=/usr/local/bin/doh-server -conf /etc/dns-over-https/doh-server-8542.conf

ExecStart=/etc/dnsproxy/dnsproxy --listen=127.0.0.2 --port 53002 \
		--https-port=8542 --tls-port=8532 \
		--bootstrap=8.8.8.8 --upstream=127.0.0.1:53 \
		--tls-crt=/etc/dyncert.d/fullchain.pem --tls-key=/etc/dyncert.d/privkey.pem  

LimitNOFILE=1000000
LimitFSIZE=infinity
LimitCPU=infinity
LimitAS=infinity
LimitNPROC=495000

Restart=allways
User=dnscrypt
Group=dnscrypt

[Install]
WantedBy=multi-user.target
