[Unit]
Description=dnscrypt-wrapper %I
After=syslog.target network.target
Before=nginx.target

[Service]
Type=simple

ExecStart=/usr/local/sbin/dnsproxy-agh \
--https-port=8543 \
--tls-port=8643 \
--cache --cache-size=128 \
--bootstrap=127.0.1.1:53 \
--refuse-any  \
--tls-key=/[Path]/privkey.pem \
--tls-crt=/[Path]/fullchain.pem \
--port=0 -l 127.0.0.1 \
--upstream=127.0.1.1:53

AmbientCapabilities=CAP_NET_BIND_SERVICE

LimitFSIZE=infinity
LimitCPU=infinity
LimitAS=infinity

Restart=allways


[Install]
WantedBy=multi-user.target
