[Unit]
Description=encrypted-dns-8440 %I
After=syslog.target network.target
Before=nginx.target

[Service]
Type=simple
WorkingDirectory=/etc/encrypted-dns/

ExecStart=/root/.cargo/bin/encrypted-dns --import-from-dnscrypt-wrapper /etc/encrypted-dns/secret.key -c /etc/encrypted-dns/encrypted-dns-8440.toml


LimitNOFILE=500000 #!
LimitNPROC=500000 #!
StartLimitBurst=5
StartLimitInterval=0
Restart=on-failure

[Install]
WantedBy=multi-user.target
