[Unit]
Description=encrypted-dns-8441
After=syslog.target network.target
Before=nginx.target

[Service]
Type=simple
WorkingDirectory=/etc/encrypted-dns/
ExecStart=/etc/encrypted-dns/encrypted-dns --import-from-dnscrypt-wrapper /etc/dnscrypt-wrapper/secret.key -c /etc/encrypted-dns/encrypted-dns-8441.toml

[Install]
WantedBy=multi-user.target
