[Unit]
Description=Unbound DNS server
Documentation=man:unbound(8)
After=network.target
#Before=nss-lookup.target
#Wants=nss-lookup.target

[Service]

Type=simple
Restart=on-failure
EnvironmentFile=-/etc/default/unbound

ExecStart=/usr/local/sbin/unbound -c /etc/unbound/unbound.conf -d $DAEMON_OPTS

ExecReload=/usr/sbin/unbound-control -c /etc/unbound/unbound.conf reload
PIDFile=/run/unbound.pid
	
AmbientCapabilities=CAP_NET_BIND_SERVICE


LimitFSIZE=infinity
LimitCPU=infinity
LimitAS=infinity


[Install]
WantedBy=multi-user.target
